[submodule "orchidsite/themes/contrast-hugo"]
	path = orchidsite/themes/contrast-hugo
	url = https://github.com/niklasbuschmann/contrast-hugo.git
[submodule "orchidsite/public"]
	path = orchidsite/public
	url = https://github.com/uprootedCode/orchideje.git
	branch = main
[submodule "orchidsite/themes/hugo-theme-nightfall"]
	path = orchidsite/themes/hugo-theme-nightfall
	url = https://github.com/LordMathis/hugo-theme-nightfall
