.header nav {
  gap: 0.75rem !important; 
}
.header nav a {
  padding: 1px !important;
  font-size: 0.9rem !important;
  white-space: nowrap !important; /* Prevents individual link text from breaking into two lines */
}

.headerWrapper {
  gap: 0.75rem !important; 
}
.headerWrapper a {
  padding: 1px !important;
  font-size: 0.9rem !important;
  white-space: nowrap !important; /* Prevents individual link text from breaking into two lines */
}

